body {
  font-family: sans-serif;
  background: #2C2C2C;
}

h2{
	color: white;
}

.main{
	width: 880px;
	margin: auto;
}

.card{
	text-align: center;
}

div.card-container{
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}


@media all and (max-width: 800px){
  .main {
    width: 100%;
  }
}
